<h1>Editing Lesson</h1>

<%= render 'form', lesson: @lesson %>

<%= link_to 'Show', @lesson %> |
<%= link_to 'Back', lessons_path %> | 

<br><br>

<button class="btn btn-primary" onclick='previewContent()'>Preview</button>
<br>

<div id="preview"></div>

<script>
  function previewContent() {
    div = document.getElementById('preview');
    text = document.getElementById('lesson_content').value;

    div.innerHTML = "<h2><u>Preview of lesson <%= @lesson.name%></h2></u><br>";
    div.innerHTML += marked.parse(text);

    MathJax.typeset();
  }
</script>